<div class="container">
  <div class="lock ">
    <div >
      <app-lock id="lock0" [lockNum]="0"
        ></app-lock>
    </div>
    <div >
      <app-lock id="lock1" [lockNum]="1"
        ></app-lock>
    </div>
    <div >
      <app-lock id="lock2" [lockNum]="2"
        ></app-lock>
    </div>
    <div >
      <app-lock id="lock3" [lockNum]="3"
        ></app-lock>
    </div>
    <div >
      <app-lock id="lock4" [lockNum]="4"
        ></app-lock>
    </div>
  </div>
  <div class="door">
    <app-door [childData]="doorOpen"></app-door>
  </div>
</div>
