.container
  heigth: 100%
  width: 100%
  
.lock
  heigth: 40%
  margin-top: 20px
  display: flex
  flex-direction: row
  align-items: center
  justify-content: center
  

.lock-big
  margin-bottom: 10px

.lock-small
  display:flex
  gap: 10px

.door
  position: absolute
  bottom: 0px