<div class="content" role="main">

  <ng-template #templateHouse [ngIf]="currentDoor==0">
    <div class="house" >
      <app-house></app-house>
    </div>
  </ng-template>

  <ng-template [ngIf]="currentDoor==1">
    <app-first-door ></app-first-door>
  </ng-template>

  <ng-template [ngIf]="currentDoor==2">
    <app-second-door ></app-second-door>
  </ng-template>

  <ng-template [ngIf]="currentDoor==3">
    <app-third-door ></app-third-door>
  </ng-template>

  <ng-template [ngIf]="currentDoor==4">
    <app-cats-room ></app-cats-room >
  </ng-template>

  <ng-template [ngIf]="currentDoor==4">
    <button (click)="restart()">restart</button>
  </ng-template>

</div>