<div class="calculator">
  <div class="display">
    <input type="text" [(ngModel)]="numpad" disabled>
  </div>
  <div class="pad">
    <div class="buttons">
      <button id="num1" (click)="addNumber(1)">1</button>
      <button id="num2" (click)="addNumber(2)">2</button>
      <button id="num3" (click)="addNumber(3)">3</button>
      <button id="num4" (click)="addNumber(4)">4</button>
      <button id="num5" (click)="addNumber(5)">5</button>
      <button id="num6" (click)="addNumber(6)">6</button>
      <button id="num7" (click)="addNumber(7)">7</button>
      <button id="num8" (click)="addNumber(8)">8</button>
      <button id="num9" (click)="addNumber(9)">9</button>
    </div>
    <div class="clear-button">
      <button id="c" (click)="clean()">C</button>
      <button id="num0" (click)="addNumber(0)">0</button>
    </div>
  </div>
</div>